.layout-container{
  display: grid;
  grid-template-areas: "side head head"
  "side main  main"
  "side main  main"
  "side main  main"
  "foot foot foot";
   height:100vh;
   grid-template-columns: 20rem 1fr 1fr ;
}


.layout-head{
  grid-area: head;
  display: flex;

}

.layout-side{
  grid-area:side;
  position: fixed;
  height:100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--palesilver-li);
  width:17.5rem;
  /* box-shadow:  */
}

.layout-main{
  grid-area:main;
  padding: 2rem;


}

.layout-footer{
  grid-area:foot;
}

.active{
  background-color: var(--prim-x-light);
  box-shadow: 1px 1px 10px 2px var(--prim-x-light);

}



/* .list-inline{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.list-stacked{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
} */

/* ul>li{
  padding:0.5rem;
} */



hr{
  border: 1px solid;
  width: 100%;
  color: var(--grey);
}
