
.active{
  background-color: var(--prim-x-light);
  box-shadow: 1px 1px 10px 2px var(--prim-x-light);

}



/* .list-inline{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.list-stacked{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
} */

/* ul>li{
  padding:0.5rem;
} */



hr{
  border: 1px solid;
  width: 100%;
  color: var(--grey);
}
