
.alert{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  background-color:  var(--palesilver-li);
  width:30rem;
  border-radius: 0.5rem;
  color: var(--prim-col);
  box-shadow: 1px 1px 3px 1px lightgrey;
  box-sizing: border-box;

}
.alert-close{
  justify-content: space-between;
}
.alert-close>span:hover{
  cursor:pointer;
  opacity: 0.5;
}

.alert-bordered{

  border: solid 3px ;
  background-color: transparent;
}
