.btn{
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;

}

.btn:hover{
  opacity: 0.5;
  /* background-color: transparent; */
}

.btn-dis{
  background-color: lightgrey;
  opacity: 0.3;
}

.btn-dis:hover{
  cursor: not-allowed;
  opacity: 0.3;
}

.btn-bordered{
  background-color: transparent;
  border: 2px solid ;
  box-sizing: border-box;
}

.btn-bordered:hover{
  opacity: 1;
  /* transition: background-color 1s; */
  transition: background-color .35s ease-in-out;
}

.btn.btn-bordered.prim-c:hover{
  background-color: var(--sec-col);
}

.btn.btn-bordered.sec-c:hover{
  background-color: var(--prim-col);
}
