.card{
  position: relative;
  display: grid;
  gap: 0.5rem 0.5rem;
}

.card-content,
.background{
  grid-column: 1/2;
  grid-row: 1/2;
}

.card-content{
  display:flex;
  padding:0.5rem;
  justify-content: flex-start;
  align-items: flex-start
}

.card-content.inline{
  display: flex;
  gap: 0.3rem;
}

.card-content.stacked{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: space-between;
}


.card-icon{
  background-color: var(--white-trans);
  font-weight: bolder;

  padding: 0.2rem;
}

.card-icon.right{
  margin-left:auto;

}
.card-icon.left{
  margin-right:auto;
}




.card-content-head,.card-content-body,.card-content-foot{
  display: flex;
  flex-flow: row wrap;
  width:100%;
  gap:0.5rem;
}

.space{
  justify-content: space-between;
}

.start{
  justify-content: flex-start;
}

.end{
  justify-content: flex-end;
}



.card-shadow{
    box-shadow: 0.5px 0.5px 4px 0.5px lightgrey;
}



.card-border{
  border: 1px solid;
  background-color: transparent;
}

.card-img-curve{
  border-radius: 0.5rem;
}


/* card sizing */
.card.w-s{
  width: 15rem;
  height: fit-content;

}
.card.w-m{
  width: 20rem;
  height: fit-content;
}

.card.w-l{
  width: 25rem;
  height: fit-content;
}

.card.w-xl{
  width: 30rem;
  height: fit-content;
}

.card.w-xxl{
  width: 35rem;
  height: fit-content;
}


.card-scroll{
  max-height: 20rem;
  overflow:scroll;
}
