.input{
  border:none;
  border-bottom: 3px solid ;
  padding: 0.5rem;
}

.input-label{
 font-weight: 600;
}

.input:focus {
    outline: none;
}

.input-full{
  width:100%;
}

.input-error{
  border-bottom: 4px solid var(--red);
}

.input-error-icon:after{
  font-family: FontAwesome;
    content: "\f06a";
}
