/* .rating-container{
  display: flex;
  align-items: center;
  gap:8px;
  width: fit-content;
  background-color: var(--white-trans);
  color: var(--prim-col);
  padding:10px;

}

.rating-responsive:nth-child(n):hover{
 color:var(--sec-col);
}

.rating-container>li.checked{
  color: var(--sec-col);
} */
/* .rating-container>li>i{
  color:var(--prim-li);

}
.rating-container>li>i.checked{
  color: var(--sec-col);
} */


/* .rating-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.rating-container input[type=radio]{
  text-decoration: none;
  color: var(--yellow);
  width:1rem;
} new */

.rating-container {
  float: left;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 28px;
  margin-top: -11px;
  margin-left: 10px;
  margin-right: 10px;
}
.rating-container > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  cursor: pointer;
}
.rating-container > span:hover:before,
.rating-container > span:hover ~ span:before,
.rating-container > span.checked:before,
.rating-container > span.checked ~ span:before {
  content: "\2605";
  position: absolute;
}


/* .rating-container input[type=radio]:checked ~ label:after {
   background-color: var(--prim-col);
}

.rating-container input[type=radio] {
   display: none;
}

.rating-container label{
  cursor: pointer;

}

.rating-container.rating-interactive label:after{
transition: all 0.25s;
background-color: var(--sec-li);
}

.rating-container.rating-interactive label:hover:after,
.rating-container.rating-interactive label:hover ~ label:after {
   background-color: var(--prim-col);
} */

/* .rating-container>.checked{
  color: var(--sec-col);
}

.rating-container.interactive{
  flex-flow: row wrap;
}

.rating-input{

}

.rating-input input:not(:checked) ~ label:hover,
.rating-input input:not(:checked) ~ label:hover ~ label{
    color: var(--prim-li);
}

.rating-icon input:checked ~ label{
    color: var(--sec-col);
} */
