<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <section class="container">
      <div class="snackbar hide">
        <div class="snackbar-body">
          <p>
            This is a snack bar
          </p>
          <i class="fw-reg end">undo</i>
        </div>
      </div>
      <button type="button" class="btn prim snackbar-trigger">Open snackbar</button>
    </section>

    <script type="text/javascript" src="/js/snackbar.js">

    </script>
  </body>
</html>
