@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Syne+Tactile&display=swap');
html{
  --hero-bg: rgb(214, 204, 194,0.1);
}

.page-container{
  display: grid;
  grid-template-areas: "head"
  "main"
  "foot";
  grid-template-columns: 100vw;
  grid-template-rows: 4rem 1fr 100px;
  height: 100vh;
  width: 100vw;
}

.hero-section{
  grid-area: main;
  display : flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 7rem;
}

.page-footer{
  grid-area: foot;
  height: -10vh;
  background-color: var(--palesilver-li) ;
  display : flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1rem;
  gap:5px;
}

.active{
  background-color: var(--prim-x-light);
  box-shadow: 1px 1px 10px 2px var(--prim-x-light);

}

hr{
  border: 1px solid;
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}


.theme-heading{
  font-family: 'Syne Tactile', cursive;
  font-size: 5rem;
}

.page-head{
  grid-area: head;
}

nav>.theme-heading{
  font-size: 2rem;
  color: var(--sec-li);
}

.hero-section-text{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap:2rem;
  padding: 0 2rem;
  background-color: var(--hero-bg);
  box-shadow: 10px 10px 50px 50px var(--hero-bg);
  width:fit-content;
}

.inline-section{
  display: flex;
  gap: 1rem;
}


@media only screen and (max-width: 800px){
  :root{
    font-size: 70%;
  }

  .hero-section{
    grid-area: main;
    display : flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
  }

  .grid-two-layout-container{
    display: grid;
    grid-template-areas:
    "sec-right"
     "sec-left";
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 1fr ;
    height:auto;
    width:100%;
  }
}


@media only screen and (max-width: 1106px) and (min-width: 800px){
  :root{
    font-size: 90%;
  }

  .hero-section{
    grid-area: main;
    display : flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 2rem 1rem;
  }

  .grid-two-layout-container{
    grid-template-areas:
    "sec-right sec-left";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
  }


}
